.simple-content.top-section .block {
    margin: 0 auto;
    max-width: 1164px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 21.8em;
    padding-bottom: 160px;
}
.simple-content .block{
        margin: 0 auto;
        max-width: 1260px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
}
.simple-content h1{
    font-family: roboto-light;
    text-transform: uppercase;
    font-size: 5.6em;
    padding-right: 26px;
    color: #222626;
    margin-bottom: 0px;
}
.simple-content h1 strong,
.simple-content h2 strong,
.simple-content h1 b,
.simple-content h2 b{font-family:roboto-bold;}
.simple-content p{
    font-size: 1.6em;
    color: #222626;
    line-height: 1.7;
}
.simple-content .img{text-align:right;}

.simple-content h1, .simple-content h2{
    font-size: 6em;
    line-height: 70px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -11px;
    margin-bottom: 24px;
    letter-spacing: -1px;
    font-family: roboto-light;
    visibility: hidden;
    margin-bottom: 80px;
}
h1 span.word .holder, h2 span.word .holder {
    display: inline-block;
    vertical-align: top;
}
h1 span.word, h2 span.word {
    overflow: hidden;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.img-uncover img {
    transform: scale(1.2);
    transition: transform 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.img-uncover.show img {
    transform: scale(1);
}
.img-uncover {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.img-uncover img {
    transform: scale(1.2);
    transition: transform 1.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.img-uncover.grey:after {
    background: #ededed;
}
.img-uncover.show:after {
    transform: translateX(-100%);
}
.img-uncover:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 110%;
    height: 110%;
    background: #ffffff;
    transition: transform 1s cubic-bezier(0.77, 0.15, 0, 0.99);
    z-index: 4;
}
.img-uncover.show:hover img {
    transition-delay: 0s;
    transform: scale(1.02);
}
.simple-content img, .simple-content object {
    max-width: 100%;
    width: auto;
    vertical-align: top;
    pointer-events: none;
}

.visitus{
    font-size: 1.6em;
    margin-bottom: 8px;
}
.visitus .lb-brief ul li{margin-bottom:8px}
.visitus .lb-title{padding-left:4px;}
.mailus{
    font-size:1.6em;
    margin-bottom: 30px;
}
.mailus .lb-brief ul li{margin-bottom:8px}
.mailus .lb-title{padding-left:4px;}
.map iframe{

    max-width:100%;
}

@media(max-width:768px){
    .simple-content h1, .simple-content h2{
        /* font-size: 5.9em; */
    }
}